#d{
    visibility: visible;
}
#d2{
    display: inline;
}
ul{
    display: inline-flex;
    list-style-type: none;
    height: 30px;
    width: 100%;
    background-color: blueviolet;
}
li{
    
    margin-left: 200px;
    color: aliceblue;
    font-size: larger;
    padding-top:5px;
}