
h1{
    height: 80px;
    background-color: skyblue;
    margin-top: 0;
    text-align: center;
    color: whitesmoke;
    padding-top: 30px;
}

input{
    margin-left: 150px;
    margin-right: 150px;
    padding:5px;
}
select{
    margin-right: 150px;
    padding: 5px;
}
button{
    margin-right: 150px;
}
.box{
    border:1px solid grey;
    margin:50px;
    padding: 15px;
    width: 80%;
}
.DSA{
    border:1px solid grey;
    margin:25px;
    padding: 30px;
    border-radius: 10px;
}
.JS{
    border:1px solid grey;
    margin:25px;
    padding: 30px;
    border-radius: 10px; 
}
.Maths{
    border:1px solid grey;
    margin: 25px;
    padding: 30px;
    border-radius: 10px;
}
span{
    margin-right: 170px;
    font-weight: bolder;
}
button{
    border: none;
    background-color:green;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: bolder;
    padding:5px;
}
